# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Firebase
.firebase/
.firebaserc
functions/lib/
functions/node_modules/

# IDE
.idea/
.vscode/
*.iml

# Platform-generated
android/.gradle/
ios/Pods/
